html {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}

body {
  padding:0;
  margin: 0;
  background-color: white;
  font-family: 'Titillium Web', sans-serif;
  background-image: url('etc/cylc-logo-small.png');
  background-position: right bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  color: white;
  background: #00b4fd;
  width: 90%;
  padding: 5%;
  padding-top: 40px;
  padding-bottom: 40px;
  margin:0;
}

div#message {
  width: 90%;
  padding: 10px;
  padding-left: 5%;
  padding-right: 5%;
  font-family: 'Share Tech Mono', 'monospace';
}

div#controls {
  position: fixed;
  right:5%;
  top:0;
}

div#content {
  margin:0;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}

pre {
  font-family: 'Share Tech Mono', 'monospace';
  color: black;
}

#cylc-data {
  color: black;
}

input {
  font-weight: bold;
}
